<?xml version="1.0"?>

<launch>
  <arg name="bias_file" default="$(find prophesee_ros_driver)/launch/config/low.bias"/>

  <include file="$(find prophesee_ros_driver)/launch/middle.launch">
    <arg name="bias_file" value="$(arg bias_file)" />
  </include>

  <include file="$(find prophesee_ros_driver)/launch/left.launch">
    <arg name="bias_file" value="$(arg bias_file)" />
  </include>

  <include file="$(find prophesee_ros_driver)/launch/right.launch">
    <arg name="bias_file" value="$(arg bias_file)" />
  </include>
</launch>
