<?xml version="1.0"?>

<launch>
  <node pkg="prophesee_ros_driver" type="prophesee_ros_viewer" name="prophesee_viewer_right" respawn="true" output="screen">
    <param name="camera_name" value="right" />
    <param name="show_cd" value="true" />
    <param name="show_graylevels" value="false" />

    <!-- Time interval to display events up to the current time, in us -->
    <param name="display_accumulation_time" value="2000" />
  </node>
</launch>
